
@{
    ViewBag.Title = "Analysis";
}

@using DataAccess
@using Business.MergedEntity
@model dynamic

<div class="area-config-chart">
    <div class="section-col d-flex justify-content-start">
        <div class="partition-label">Cột</div>
        <div class="partition-drop">
            <select class="area-select2 select2-cols" name="cols[]" multiple="multiple">
                <option value="optcols-day">Ngày</option>
                <option value="optcols-month">Tháng</option>
                <option value="optcols-year">Năm</option>
                <option value="optcols-employee">Nhân viên</option>
                <option value="optcols-department">Phòng ban</option>
                <option value="optcols-status">Trạng thái</option>
            </select>
        </div>
    </div>
    <div class="section-row d-flex justify-content-start">
        <div class="partition-label">Hàng</div>
        <div class="partition-drop">
            <select class="area-select2 select2-rows" name="rows[]" multiple="multiple">
                <option value="optrows-sumexpense">Tổng phí</option>
                @*<option value="optrows-totalreport">Tổng báo cáo</option>*@
            </select>
        </div>
    </div>
    <div class="section-filter d-flex justify-content-start">
        <div class="partition-label">Lọc</div>
        <div class="partition-drop">
            <select class="area-select2 select2-filters" name="filters[]" multiple="multiple">
                <option value="optfilters-status">Trạng thái</option>
                <option value="optfilters-department">Phòng ban</option>
                <option value="optfilters-day">Ngày</option>
                <option value="optfilters-month">Tháng</option>
                <option value="optfilters-year">Năm</option>
                <option value="optfilters-employee">Nhân viên</option>
            </select>
        </div>
    </div>
</div>
<div class="area-control">
    <button type="button" class="btn btn-dark" id="btn-analysis">Phân tích</button>
</div>

<div class="modal fade" id="modal-filter-month" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-filter-month">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lọc tháng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="d-flex justify-content-between row-emp">
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label for="calendar-before-month">Trước tháng</label>
                            </div>
                            <div>
                                <input type="month" id="calendar-before-month" class="form-control" name="beforeMonth">
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label for="calendar-after-month">Sau tháng</label>
                            </div>
                            <div>
                                <input type="month" id="calendar-after-month" class="form-control" name="afterMonth">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between row-emp">
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label for="calendar-select-month">Chọn tháng</label>
                            </div>
                            <div>
                                <input type="month" id="calendar-select-month" class="form-control" name="birthday">
                            </div>
                        </div>
                    </div>
                    @*<button type="submit" class="btn btn-primary">Lưu</button>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-save-filter" id="btn-save-filter-month">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-filter-year" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-filter-year">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lọc nắm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="d-flex justify-content-between row-emp">
                        <div>
                            <div class="d-flex justify-content-start">
                                <div class="label">
                                    <label>Trước năm</label>
                                </div>
                                <div>
                                    <input type="text" class="form-control" id="textbox-before-year" aria-describedby="emailHelp" placeholder="VD: 1970">
                                </div>
                            </div>
                            <div>
                                <small id="warn-before-year" class="form-text text-muted warn" error="false">Năm phải là 1 số tự nhiên lớn hơn hoặc bằng 1970, nhỏ hơn hoặc bằng 2100</small>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-start">
                                <div class="label">
                                    <label>Sau năm</label>
                                </div>
                                <div>
                                    <input type="text" class="form-control" id="textbox-after-year" aria-describedby="emailHelp" placeholder="VD: 2100">
                                </div>
                            </div>
                            <div>
                                <small id="warn-after-year" class="form-text text-muted warn" error="false">Năm phải là 1 số tự nhiên lớn hơn hoặc bằng 1970, nhỏ hơn hoặc bằng 2100</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between row-emp">
                        <div>
                            <div class="d-flex justify-content-start">
                                <div class="label">
                                    <label>Chọn năm</label>
                                </div>
                                <div>
                                    <input type="text" class="form-control" id="textbox-select-year" aria-describedby="emailHelp" placeholder="VD: 2022">
                                </div>
                            </div>
                            <div>
                                <small id="warn-select-year" class="form-text text-muted warn" error="false">Năm phải là 1 số tự nhiên lớn hơn hoặc bằng 1970, nhỏ hơn hoặc bằng 2100</small>
                            </div>
                        </div>
                    </div>
                    @*<button type="submit" class="btn btn-primary">Lưu</button>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-save-filter" id="btn-save-filter-year">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-filter-date" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-filter-date">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lọc ngày</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="d-flex justify-content-between row-emp">
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label for="calendar-before-date">Trước ngày</label>
                            </div>
                            <div>
                                <input type="date" id="calendar-before-date" class="form-control" name="beforeDate">
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label for="calendar-after-date">Sau ngày</label>
                            </div>
                            <div>
                                <input type="date" id="calendar-after-date" class="form-control" name="afterDate">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between row-emp">
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label for="calendar-select-date">Chọn ngày</label>
                            </div>
                            <div>
                                <input type="date" id="calendar-select-date" class="form-control" name="selectDate">
                            </div>
                        </div>
                    </div>
                    @*<button type="submit" class="btn btn-primary">Lưu</button>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-save-filter" id="btn-save-filter-date">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-filter-status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-filter-status">
        <div class="modal-content">
            <div class="modal-header">
                <div class="group-action-employee d-flex justify-content-start">
                    @*<button type="button" class="btn btn-success" id="btn-create-contract">Thêm hàng</button>*@
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between row-emp">
                    <div class="form-check" id="status-0">
                        <input class="form-check-input checkbox-status" type="checkbox" value="0" id="checkbox-status-0" name="checkbox-report-status">
                        <label class="form-check-label" for="checkbox-status-0">
                            Đã chuyển duyệt
                        </label>
                    </div>
                    <div class="form-check" id="status-1">
                        <input class="form-check-input checkbox-status" type="checkbox" value="1" id="checkbox-status-1" name="checkbox-report-status">
                        <label class="form-check-label" for="checkbox-status-1">
                            Duyệt
                        </label>
                    </div>
                    <div class="form-check" id="status-2">
                        <input class="form-check-input checkbox-status" type="checkbox" value="2" id="checkbox-status-2" name="checkbox-report-status">
                        <label class="form-check-label" for="checkbox-status-2">
                            Chấp thuận thanh toán
                        </label>
                    </div>
                </div>
                <div class="d-flex justify-content-between row-emp">
                    <div class="form-check" id="status-3">
                        <input class="form-check-input checkbox-status" type="checkbox" value="3" id="checkbox-status-3" name="checkbox-report-status">
                        <label class="form-check-label" for="checkbox-status-3">
                            Đã thanh toán
                        </label>
                    </div>
                    <div class="form-check" id="status-4">
                        <input class="form-check-input checkbox-status" type="checkbox" value="4" id="checkbox-status-4" name="checkbox-report-status">
                        <label class="form-check-label" for="checkbox-status-4">
                            Từ chối duyệt
                        </label>
                    </div>
                    <div class="form-check" id="status-5">
                        <input class="form-check-input checkbox-status" type="checkbox" value="5" id="checkbox-status-5" name="checkbox-report-status">
                        <label class="form-check-label" for="checkbox-status-5">
                            Từ chối thanh toán
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-save-filter" id="btn-save-filter-status">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-filter-department" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-filter-department">
        <div class="modal-content">
            <div class="modal-header">
                <div class="group-action-employee d-flex justify-content-start">
                    @*<button type="button" class="btn btn-success" id="btn-create-contract">Thêm hàng</button>*@
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between row-emp">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-filter-department" data-bs-toggle="dropdown" aria-expanded="false">
                            Phòng ban
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop-filter-department">
                            @*<div class="dropdown-item">
                                    <span class="pre-selected">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                        </svg>
                                    </span>Triệu đồng
                                </div>
                                <div class="dropdown-item">
                                    <span class="pre-selected">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                        </svg>
                                    </span>Nghìn đồng
                                </div>*@
                            @foreach (department item in Model.depts)
                            {
                                <div class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input filter-department" type="checkbox" value="" id="filter-department-@item.department_id">
                                        <label class="form-check-label" for="filter-department-@item.department_id">
                                            @item.department_name
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-save-filter" id="btn-save-filter-department">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-filter-employee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-filter-employee">
        <div class="modal-content">
            <div class="modal-header">
                <div class="group-action-employee d-flex justify-content-start">
                    @*<button type="button" class="btn btn-success" id="btn-create-contract">Thêm hàng</button>*@
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between row-emp">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-filter-employee" data-bs-toggle="dropdown" aria-expanded="false">
                            Phòng ban
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop-filter-employee">
                            @*<div class="dropdown-item">
                                    <span class="pre-selected">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                        </svg>
                                    </span>Triệu đồng
                                </div>
                                <div class="dropdown-item">
                                    <span class="pre-selected">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                        </svg>
                                    </span>Nghìn đồng
                                </div>*@
                            @foreach (employee item in Model.emps)
                            {
                                <div class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input filter-employee" type="checkbox" value="" id="filter-employee-@item.id">
                                        <label class="form-check-label" for="filter-employee-@item.id">
                                            @item.id - @item.last_name @item.first_name 
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-save-filter" id="btn-save-filter-employee">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="area-show-chart" id="area-show-chart"></div>
<script src="~/Scripts/Tools/ValidateInput.js"></script>
<script src="~/Scripts/Tools/ProccessDate.js"></script>
<script src="~/Scripts/Tools/GenRandom.js"></script>
<script src="~/Scripts/Tools/GetValueOfCode.js"></script>
<script src="~/Scripts/plugin/Highcharts-9.3.2/code/highcharts.js"></script>
<script src="~/Scripts/Expense/expense.js"></script>