
@{
    ViewBag.Title = "Department";
}

<div class="contain-toolbar d-flex justify-content-between">
    <div class="contain-action">
        <button type="button" class="btn btn-dark" id="btn-create-department">Thêm hàng</button>
    </div>
</div>
<div class="contain-table">
    <table class="table" id="table-department">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Phòng ban</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                    <th scope="row">001</th>
                    <td>40</td>
                    <td>Giờ</td>
                    <td>Tuần</td>
                </tr>*@
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-update-department" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-update-department">
        <div class="modal-content">
            <div class="modal-header">
                <div class="group-action-employee d-flex justify-content-start">
                    @*<button type="button" class="btn btn-success" id="btn-create-contract">Thêm hàng</button>*@
                    <button type="button" class="btn btn-primary" id="btn-save-modify-department">Lưu</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between row-emp">
                    <div id="label-department-id"></div>
                </div>
                <div class="d-flex justify-content-between row-emp">
                    <div>
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label>Phòng ban</label>
                            </div>
                            <div>
                                <input type="text" class="form-control" id="textbox-department-name" aria-describedby="emailHelp" placeholder="VD: Ban dự án">
                            </div>
                        </div>
                        <div>
                            <small id="warn-department-name" class="form-text text-muted warn" error="false">Tên phòng ban không quá 200 kí tự và không được để trống</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between row-emp">
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-manager" data-bs-toggle="dropdown" aria-expanded="false">
                                Quản lí
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop-manager">
                                <div class="dropdown-item"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-parent-department" data-bs-toggle="dropdown" aria-expanded="false">
                                Phòng ban cha
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop-parent-department">
                                <div class="dropdown-item"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-create-department" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-create-department">
        <div class="modal-content">
            <div class="modal-header">
                <div class="group-action-employee d-flex justify-content-start">
                    @*<button type="button" class="btn btn-success" id="btn-create-contract">Thêm hàng</button>*@
                    <button type="button" class="btn btn-primary" id="btn-save-create-department">Lưu</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between row-emp">
                    <div id="label-plan-id"></div>
                </div>
                <div class="d-flex justify-content-between row-emp">
                    <div>
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label>Phòng ban</label>
                            </div>
                            <div>
                                <input type="text" class="form-control" id="textbox-create-deparment-name" aria-describedby="emailHelp" placeholder="VD: Kế hoạch thôi việc">
                            </div>
                        </div>
                        <div>
                            <small id="warn-create-deparment-name" class="form-text text-muted warn" error="false">Tên kế hoạch không quá 200 kí tự và không được để trống</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between row-emp">
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-create-manager" data-bs-toggle="dropdown" aria-expanded="false">
                                Quản lí
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop-create-manager">
                                <div class="dropdown-item"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-create-parent-department" data-bs-toggle="dropdown" aria-expanded="false">
                                Phòng ban cha
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop-create-parent-department">
                                <div class="dropdown-item"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@*<link href="~/Scripts/plugin/bootstrap3-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="~/Scripts/plugin/bootstrap3-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>*@
<script src="~/Scripts/Tools/ValidateInput.js"></script>
<script src="~/Scripts/Tools/ProccessDate.js"></script>
<script src="~/Scripts/Tools/GenRandom.js"></script>
<script src="~/Scripts/Department/department.js"></script>