
@{
    ViewBag.Title = "Application";
}
<link rel="stylesheet" href="~/Content/CSS/Application/Index.css" />
<div class="contain-application">
    <form>
        <div class="d-flex justify-content-between row-emp">
            <div>
                <div class="d-flex justify-content-start">
                    <div class="label">
                        <label style="color:white">Họ & tên đệm</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="textbox-lastname" aria-describedby="emailHelp" placeholder="VD: Nguyễn Văn">
                    </div>
                </div>
                <div>
                    <small id="warn-lastname" class="form-text text-muted warn" error="false">Họ và tên đệm không quá 200 kí tự và không để trống</small>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-start">
                    <div class="label">
                        <label>Tên</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="textbox-firstname" placeholder="VD: An">
                    </div>
                </div>
                <div>
                    <small id="warn-firstname" class="form-text text-muted warn" error="false">Tên đệm không quá 200 kí tự và không để trống</small>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between row-emp">
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-degree" data-bs-toggle="dropdown" aria-expanded="false">
                        Học vị
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop-degree">
                        <div class="dropdown-item">
                            <span class="pre-selected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </span>Tốt nghiệp THCS
                        </div>
                        <div class="dropdown-item">
                            <span class="pre-selected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </span>Tốt nghiệp THPT
                        </div>
                        <div class="dropdown-item">
                            <span class="pre-selected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </span>Cử nhân
                        </div>
                        <div class="dropdown-item">
                            <span class="pre-selected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </span>Kĩ sư
                        </div>
                        <div class="dropdown-item">
                            <span class="pre-selected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </span>Tốt nghiệp trung cấp
                        </div>
                        <div class="dropdown-item">
                            <span class="pre-selected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </span>Tốt nghiệp cao đẳng
                        </div>
                        <div class="dropdown-item">
                            <span class="pre-selected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </span>Tốt nghiệp trường nghề
                        </div>
                        <div class="dropdown-item">
                            <span class="pre-selected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </span>Cử nhân thực hành
                        </div>
                        <div class="dropdown-item">
                            <span class="pre-selected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </span>Kĩ sư thực hành
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-start">
                    <div class="label">
                        <label for="textbox-college">Đại học/Cao đẳng</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="textbox-college" placeholder="VD: Đại học công nghiệp">
                    </div>
                </div>
                <div>
                    <small id="warn-college" class="form-text text-muted warn" error="false">Đại học/Cao đẳng không quá 200 kí tự và không để trống</small>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between row-emp">
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-department" data-bs-toggle="dropdown" aria-expanded="false">
                        Phòng ban
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop-department">
                        <div class="dropdown-item"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-title" data-bs-toggle="dropdown" aria-expanded="false">
                        Chức danh
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop-title">
                        <div class="dropdown-item"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-start">
                    <div class="label">
                        <label for="textbox-require-wage">Mức lương mong muốn</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="textbox-require-wage" placeholder="VD: 15000000">
                    </div>
                </div>
                <div>
                    <small id="warn-require-wage" class="form-text text-muted warn" error="false">Mức lương mong muốn phải là số thực và không được để trống</small>
                </div>
            </div>
        </div>
        <div class="row-emp">
            <div>
                <div class="d-flex justify-content-start">
                    <div class="label">
                        <label for="textbox-phone" style="color:white">Điện thoại</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="textbox-phone" placeholder="VD: 0334923391">
                    </div>
                </div>
                <div>
                    <small id="warn-phone" class="form-text text-muted warn" error="false">Số điện thoại có tối đa 20 chữ số, không để trống</small>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between row-emp">
            <div>
                <div class="d-flex justify-content-start">
                    <div class="label">
                        <label for="textbox-mail" style="color:white">Email</label>
                    </div>
                    <div>
                        <input type="email" class="form-control" id="textbox-mail" placeholder="VD: nguyenvanan@gmail.com">
                    </div>
                </div>
                <div>
                    <small id="warn-mail" class="form-text text-muted warn" error="false">Email phải đúng định dạng, không quá 200 kí tự, không để trống</small>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="btn-send-application">Gửi</button>
    </form>
</div>
<script src="~/Scripts/Tools/ValidateInput.js"></script>
<script src="~/Scripts/Tools/ProccessDate.js"></script>
<script src="~/Scripts/Tools/GenRandom.js"></script>
<script src="~/Scripts/Application/application.js"></script>