.contain-headpage{
    padding: 20px 35px
}

.text-company-name{
    font-size:50px
}

.banner-logo{
    padding-right:30px
}

.item-bar{
    margin-right:10px;
    padding: 0px 20px;
    height:100%;
    width:14vw;
    text-align:center
}

.item-bar a:link{
    color: black;
    text-decoration: none;
}

.item-bar a:hover {
    color: #0cb7eb
}

.item-bar a {
    color: #667073;
}

/*.active{
    background-color:black;
}*/

.active a {
    color: #0cb7eb;
    font-weight:bold
}

#navbar-list-item{
    height:50px
}

