
@{
    ViewBag.Title = "StandardWorkTime";
}

<div class="contain-toolbar d-flex justify-content-between">
    <div class="contain-action">
        <button type="button" class="btn btn-dark" id="btn-create-standard-work-time">Thêm hàng</button>
    </div>
</div>
<div class="contain-table">
    <table class="table" id="table-standard-work-time">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Thời lượng</th>
                <th scope="col">Đơn vị</th>
                <th scope="col">Khoảng thời gian</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                    <th scope="row">001</th>
                    <td>40</td>
                    <td>Giờ</td>
                    <td>Tuần</td>
                </tr>*@
        </tbody>
    </table>
</div>

@*<link href="~/Scripts/plugin/bootstrap3-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script src="~/Scripts/plugin/bootstrap3-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>*@
<script src="~/Scripts/StandardWorkTime/standard-work-time.js"></script>