
@{
    ViewBag.Title = "StandardWorkTime";
}

<div class="contain-toolbar d-flex justify-content-between">
    <div class="contain-action">
        <button type="button" class="btn btn-dark" id="btn-create-plan">Thêm hàng</button>
    </div>
</div>
<div class="contain-table">
    <table class="table" id="table-plan">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Kế hoạch</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                    <th scope="row">001</th>
                    <td>40</td>
                    <td>Giờ</td>
                    <td>Tuần</td>
                </tr>*@
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-update-plan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-update-plan">
        <div class="modal-content">
            <div class="modal-header">
                <div class="group-action-employee d-flex justify-content-start">
                    @*<button type="button" class="btn btn-success" id="btn-create-contract">Thêm hàng</button>*@
                    <button type="button" class="btn btn-primary" id="btn-save-modify-plan">Lưu</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between row-emp">
                    <div id="label-plan-id"></div>
                </div>
                <div class="d-flex justify-content-between row-emp">
                    <div>
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label>Tên kế hoạch</label>
                            </div>
                            <div>
                                <input type="text" class="form-control" id="textbox-planname" aria-describedby="emailHelp" placeholder="VD: Kế hoạch thôi việc">
                            </div>
                        </div>
                        <div>
                            <small id="warn-planname" class="form-text text-muted warn" error="false">Tên kế hoạch không quá 200 kí tự và không được để trống</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between row-emp">
                    <div class="table-create-activities">
                        <div>
                            <span>Hoạt động</span>
                        </div>
                        <div>
                            <table class="table" id="table-activities">
                                <thead>
                                    <tr>
                                        <th scope="col">Hoạt động</th>
                                        <th scope="col">Gán cho</th>
                                        <th scope="col">Hạn chót</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                            <th scope="row"></th>
                                            <td><a href="#" class="contract-begin-date"></a></td>
                                            <td><a href="#" class="contract-end-date"></a></td>
                                            <td><a href="#" class="contract-basic-wage"></a></td>
                                            <td><a href="#" class="contract-unit"></a></td>
                                            <td><a href="#" class="contract-status"></a></td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                        <div id="contain-add-activities">
                            <button type="button" class="btn btn-info btn-add-activities">Thêm hoạt động</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-create-plan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogmodal-create-plan">
        <div class="modal-content">
            <div class="modal-header">
                <div class="group-action-employee d-flex justify-content-start">
                    @*<button type="button" class="btn btn-success" id="btn-create-contract">Thêm hàng</button>*@
                    <button type="button" class="btn btn-primary" id="btn-save-create-plan">Lưu</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between row-emp">
                    <div id="label-plan-id"></div>
                </div>
                <div class="d-flex justify-content-between row-emp">
                    <div>
                        <div class="d-flex justify-content-start">
                            <div class="label">
                                <label>Tên kế hoạch</label>
                            </div>
                            <div>
                                <input type="text" class="form-control" id="textbox-create-planname" aria-describedby="emailHelp" placeholder="VD: Kế hoạch thôi việc">
                            </div>
                        </div>
                        <div>
                            <small id="warn-create-planname" class="form-text text-muted warn" error="false">Tên kế hoạch không quá 200 kí tự và không được để trống</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between row-emp">
                    <div class="table-new-plan-create-activities">
                        <div>
                            <span>Hoạt động</span>
                        </div>
                        <div>
                            <table class="table" id="table-new-plan-activities">
                                <thead>
                                    <tr>
                                        <th scope="col">Hoạt động</th>
                                        <th scope="col">Gán cho</th>
                                        <th scope="col">Hạn chót</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                            <th scope="row"></th>
                                            <td><a href="#" class="contract-begin-date"></a></td>
                                            <td><a href="#" class="contract-end-date"></a></td>
                                            <td><a href="#" class="contract-basic-wage"></a></td>
                                            <td><a href="#" class="contract-unit"></a></td>
                                            <td><a href="#" class="contract-status"></a></td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                        <div id="contain-new-plan-add-activities">
                            <button type="button" class="btn btn-info btn-new-plan-add-activities">Thêm hoạt động</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@*<link href="~/Scripts/plugin/bootstrap3-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="~/Scripts/plugin/bootstrap3-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>*@
<script src="~/Scripts/Tools/ValidateInput.js"></script>
<script src="~/Scripts/Tools/ProccessDate.js"></script>
<script src="~/Scripts/Tools/GenRandom.js"></script>
<script src="~/Scripts/Plan/plan.js"></script>