.line-info-employee{
    text-align:center
}

.box-app {
    border: 1px solid #5e6063;
    padding: 10px 10px;
    background-color: #dbe3c5;
    width: 22vw
}

.box-info-applicant{
    font-size: 13px
}

.line-info-employee{
    font-size: 30px;
    text-align: center;
    font-weight: bold
}

.contain-info-employee {
    background-color: #c4c8cf;
    padding: 5px 5px;
    margin-top: 5px
}

.bar-filters{
    padding: 0px 35px
}

.hide{
    display: none
}

.symbol-status-applicant{
    border: 1px solid black;
    width: 20px;
    height: 20px
}

.symbol-status-applicant{
    margin-right: 10px
}

.label-applicant-name {
    font-size: 40px;
    font-weight: bold
}